{% trans_default_domain 'upload_data' %}
{% set is_ajax = app.request.isXmlHttpRequest() %}
{% extends is_ajax ? config.getTemplate('ajax') : config.getTemplate('layout') %}

{% block headline %}{{ 'title.list'|trans }}{% endblock %}

{% from '@UploadData/macros.html.twig' import bs_icon, bs_upload_status as status %}

{% set type = app.request.get('type') %}
{% set listMapper = config.getListMapper() %}

{% block actions %}
    <a class="btn btn-primary" id="btn-upload-file" href="{{ path('upload_data_upload_new', {type: type}) }}">
        {{ 'link.new_upload'|trans }}
    </a>
{% endblock %}

{% block content %}
    <div id="upload-list-container">

        {% block before_table %}{% endblock %}

        {% block filter_form %}
            {{ include('@UploadData/Upload/list_filter_form.html.twig') }}
        {% endblock %}

        <div id="upload-list-table">
            {% if is_ajax %}
                {{ include('@UploadData/flash.html.twig') }}
            {% endif %}

            {{ include(config.getTemplate('list_table'), {config: config}) }}

            {% block pagination %}
                {{ knp_pagination_render(items) }}
            {% endblock %}
        </div>

        {% block after_table %}{% endblock %}

    </div>
{% endblock %}

{% block foot_script %}
    {{ parent() }}
    {{ include(config.getTemplate('list_javascript')) }}
{% endblock %}
