{% set is_ajax = app.request.isXmlHttpRequest() %}
{% extends is_ajax ? '@UploadData/base_ajax.html.twig' :'@UploadData/base.html.twig' %}

{% block headline %}Listado{% endblock %}

{% from '@UploadData/macros.html.twig' import bs_icon, bs_upload_status as status %}

{% set type = app.request.get('type') %}
{% set listMapper = upload_config.getListMapper() %}

{% block content_row %}
    <div class="panel panel-default">
        <div class="panel-body">
            <a class="btn btn-primary" data-ajax data-after="showModal"
               href="{{ path('upload_data_upload_new', {type: type}) }}">Cargar Nuevo</a>
        </div>
    </div>
    {{ parent() }}

    <div class="progress fade" id="upload-progress">
        <div class="progress-bar" style="width: 0%;"></div>
    </div>

{% endblock %}

{% block content %}
    {% if is_ajax %}{{ include('@UploadData/flash.html.twig') }}{% endif %}
    <div {% if not is_ajax %}id="upload-list-container"{% endif %}>
        {{ include('@UploadData/Upload/uploads_table.html.twig', {config: upload_config}) }}
        {#{{ include('@UploadData/Upload/uploads_table.html.twig', {config: upload_config, items: items}) }}#}
        {{ knp_pagination_render(items) }}
    </div>
{% endblock %}

{% block foot_script %}
    {{ parent() }}
    <script src="{{ asset('bundles/uploaddata/js/upload.js') }}"></script>
    <script>

        var upload = new UploadData({
            container: $('#upload-list-container'),
            url_refresh: '{{ app.request.getRequestUri() }}',
            auto_reload: 5000
        });
        function showModal(html) {
            $("#new_upload").remove();
            $('body').append(html);
            $("#new_upload").modal();
        }
    </script>
{% endblock %}
