{% trans_default_domain 'upload_data' %}
{% form_theme filter_form 'bootstrap_3_horizontal_layout.html.twig' %}
{{ form_start(filter_form) }}
<div class="row">
    <div class="col-sm-8 col-md-9">
            {{ form_row(filter_form.search) }}
    </div>
    <div class="col-sm-4 col-md-3 text-right">
        <input type="submit" class="btn btn-primary" value="{{ 'label.search'|trans }}">
        <a class="btn btn-default" href="{{ path('upload_data_upload_list', {type: type}) }}">{{ 'label.clear'|trans }}</a>
    </div>
</div>
{{ form_end(filter_form) }}
<br>