{% trans_default_domain 'upload_data' %}
{% set is_ajax = app.request.isXmlHttpRequest() %}
{% extends is_ajax ? config.getTemplate('ajax') : config.getTemplate('layout') %}

{% block headline %}{{ 'title.list'|trans }}{% endblock %}

{% from '@UploadData/macros.html.twig' import bs_icon, bs_upload_status as status %}

{% set type = app.request.get('type') %}
{% set listMapper = config.getListMapper() %}

{% block content_row %}
    <div class="panel panel-default">
        <div class="panel-body">
            <a class="btn btn-primary" data-ajax data-after="showModal" data-before="disableNewButton"
               href="{{ path('upload_data_upload_new', {type: type}) }}">{{ 'link.new_upload'|trans }}</a>
        </div>
    </div>
    {{ parent() }}

    <div class="progress fade" id="upload-progress">
        <div class="progress-bar" style="width: 0%;"></div>
    </div>

{% endblock %}

{% block content %}
    {% if is_ajax %}{{ include('@UploadData/flash.html.twig') }}{% endif %}

    <div {% if not is_ajax %}id="upload-list-container"{% endif %}>

        {% block before_table %}{% endblock %}

        {{ include(config.getTemplate('list_table'), {config: config}) }}

        {% block pagination %}
            {{ knp_pagination_render(items) }}
        {% endblock %}

        {% block after_table %}{% endblock %}

    </div>
{% endblock %}

{% block foot_script %}
    {{ parent() }}
    {{ include('@UploadData/Upload/list_js.html.twig') }}
{% endblock %}
