{% trans_default_domain 'upload_data' %}
{% set is_ajax = app.request.isXmlHttpRequest() %}
{% set modal_id = 'new_upload' %}
{% extends is_ajax ? config.getTemplate('ajax_modal') : config.getTemplate('layout') %}

{% block headline %}{{ 'title.new_upload'|trans }}{% endblock %}

{% form_theme form '@UploadData/Form/form_bootstrap_3.2.x_layout.html.twig' %}

{% block content %}

    {{ form_start(form) }}
    {{ form_widget(form) }}

    {% if is_ajax %}
        <div class="progress" id="upload-progress">
            <div class="progress-bar" style="width: 0"></div>
        </div>
    {% endif %}

    {% if not is_ajax %}
        <a href="{{ path('upload_data_upload_list', {type: app.request.get('type')}) }}" class="btn btn-default">{{ 'link.back_to_list'|trans }}</a>
        <input type="submit" class="btn btn-primary" value="{{ 'button.process'|trans }}">
    {% endif %}
    {{ form_end(form) }}

{% endblock %}

{% block modal_footer %}
    {{ parent() }}
{% endblock %}

{% block foot_script %}
    {{ parent() }}
{% endblock %}
