{% trans_default_domain 'upload_data' %}
{% set is_ajax = app.request.isXmlHttpRequest() %}
{% set modal_id = 'new_upload' %}
{% extends is_ajax ? config.getTemplate('ajax_modal') : config.getTemplate('layout') %}

{% block headline %}{{ 'title.new_upload'|trans }}{% endblock %}

{% form_theme form '@UploadData/Form/form_bootstrap_3.2.x_layout.html.twig' %}

{% block content %}

    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}

    {% if not is_ajax %}
        <a href="{{ path('upload_data_upload_list', {type: app.request.get('type')}) }}" class="btn btn-default">{{ 'link.back_to_list'|trans }}</a>
    {% endif %}

{% endblock %}

{% block modal_footer %}
    {{ parent() }}
{% endblock %}

{% block ajax_script %}
    <script>

        var noty = null;

        $('#{{ form.file.vars.id }}').fileupload({
            url: '{{ path('upload_data_upload_new', {type: app.request.get('type')}) }}',
            dataType: 'json',
            start: function () {
                $('#upload-progress').show();
                if (window['PNotify'] != undefined) {
                    noty = new PNotify({
                        title: '{{ 'label.loading_file'|trans }}',
                        text: '0 %',
                        animation: 'none',
                        styling: "bootstrap3",
                        type: 'info'
                    });
                }
            },
            always: function () {
                if (noty) {
                    noty.update({type: 'success', text: '{{ 'label.upload_complete'|trans }}!'});
                }
                {% if is_ajax %}$("#{{ modal_id }}").modal('hide')
                {% endif %}
            },
            done: function (e, data) {
                if (noty) {
                    noty.update({type: 'success', text: '{{ 'label.upload_complete'|trans }}!'});
                }
            },
            progress: function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                if (noty) {
                    noty.update(progress + ' %');
                }
            }
        });
    </script>
{% endblock %}

{% block foot_script %}
    {{ parent() }}
    {{ block('ajax_script') }}
{% endblock %}
