{% set is_ajax = app.request.isXmlHttpRequest() %}
{% extends is_ajax ? '@UploadData/base_ajax.html.twig' : '@UploadData/base.html.twig' %}
{#{% extends '@UploadData/base.html.twig' %}#}

{% block headline %}Show
    <small>{{ upload.filename }}</small>{% endblock %}

{% from _self import errors %}
{% from '@UploadData/macros.html.twig' import bs_icon, bs_upload_status as status %}

{% block head_style %}
    {{ parent() }}
    <style>
        .popover { max-width: 600px }
    </style>
{% endblock %}

{% set show_detail = upload_config.columnsMapper.labels > 6 %}

{% block content %}
    <div id="show-container">
        <div class="row" id="show-container" data-url="{{ app.request.getRequestUri() }}">
            <div class="col-sm-6">
                {{ include('@UploadData/Upload/uploads_table.html.twig', {
                config: upload_config, items: [upload], is_show: true
                }) }}
            </div>
        </div>

        <table class="table table-bordered">
            <thead>
                <tr>
                    {% for num, label in upload_config.columnsMapper.labels if num < 7 %}
                        <th>{{ label|title }}</th>
                    {% endfor %}
                    <th>Errors</th>
                </tr>
            </thead>
            {% for item in upload.items %}
                <tr>
                    {% for name in upload_config.columnsMapper.names %}
                        <td>{{ item.data[name]|default }}</td>
                    {% endfor %}
                    <td>
                        {% if show_detail %}
                            <a class="btn btn-info btn-xs"
                               href="{{ path('upload_data_upload_show_item', {type: type, id: item.id}) }}"
                               data-ajax data-after="showModal">
                                Detalle
                            </a>
                        {%- endif %}
                        {% if item.errors|length > 0 -%}
                            <span class=" pull-right btn btn-danger btn-xs"
                                  data-toggle="popover"
                                  data-content="{{ errors(item.errors, upload_config.columnsMapper)|escape }}">
                            Errores
                        </span>
                        {%- endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    {% if not is_ajax %}
        <a href="{{ path('upload_data_upload_list', {type: type}) }}" class="btn btn-default">Volver al Listado</a>
    {% endif %}
{% endblock %}

{#{% block modal_footer %}#}
{#{{ parent() }}#}
{#&#123;&#35;<input type="submit" class="btn btn-primary">&#35;&#125;#}
{#{% endblock %}#}

{% block ajax_script %}
    <script>
        $('[data-toggle="popover"]').popover({
            html: true,
            placement: 'left',
            trigger: 'click hover'
        });

        function showModal(html) {
            $("#show_item_modal").remove();
            $('body').append(html);
            $("#show_item_modal").modal();
        }

    </script>
{% endblock %}

{% block foot_script %}
    {{ parent() }}
    <script src="{{ asset('bundles/uploaddata/js/upload.js') }}"></script>
    {{ block('ajax_script') }}
    <script>
        new UploadData({
            container: $('#show-container'),
            url_refresh: '{{ app.request.getRequestUri() }}'
        });
    </script>
{% endblock %}

{%- macro errors(errors, mapper) -%}
    <table class="table table-bordered table-condensed">
        {%- for column, errors in errors -%}
            <tr>
                <td><strong>{{ mapper.getLabel(column)|title }}</strong></td>
                <td>
                    <ul>
                        <li>{{ errors|join('</li><li>')|raw }}</li>
                    </ul>
                </td>
            </tr>
        {%- endfor -%}
    </table>
{%- endmacro -%}