{% trans_default_domain 'upload_data' %}
{% set is_ajax = app.request.isXmlHttpRequest() %}
{% extends is_ajax ? config.getTemplate('ajax') : config.getTemplate('layout') %}

{% block headline %}{{ 'title.show'|trans }}
    <small>{{ upload.filename }}</small>{% endblock %}

{% from _self import errors %}
{% from '@UploadData/macros.html.twig' import bs_icon, bs_upload_status as status %}

{% block head_style %}
    {{ parent() }}
    <style>
        .popover { max-width: 600px }
    </style>
{% endblock %}

{% set show_detail = config.columnsMapper.labels > 6 %}

{% block content %}
    <div id="show-container">
        <div class="row" id="show-container" data-url="{{ app.request.getRequestUri() }}">
            {{ include('@UploadData/Upload/show_small_info.html.twig') }}
            <div class="col-sm-6 text-right">
                <a href="{{ path('upload_data_upload_list', {type: type}) }}"
                   class="btn btn-default btn-sm ">{{ 'link.back_to_list'|trans }}</a>
            </div>
        </div>
        {% block show_table %}
            {{ include('@UploadData/Upload/show_table_content.html.twig') }}
        {% endblock %}
    </div>
{% endblock %}

{#{% block modal_footer %}#}
{#{{ parent() }}#}
{#&#123;&#35;<input type="submit" class="btn btn-primary">&#35;&#125;#}
{#{% endblock %}#}

{% block ajax_script %}
    <script>
        $('[data-toggle="popover"]').popover({
            html: true,
            placement: 'left',
            trigger: 'click hover'
        });

        function showModal(html) {
            $("#show_item_modal").remove();
            $('body').append(html);
            $("#show_item_modal").modal();
        }

    </script>
{% endblock %}

{% block foot_script %}
    {{ parent() }}
    <script src="{{ asset('bundles/uploaddata/js/upload.js') }}"></script>
    {{ block('ajax_script') }}
    <script>
        new UploadData({
            container: $('#show-container'),
            url_refresh: '{{ app.request.getRequestUri() }}'
        });
    </script>
{% endblock %}

{%- macro errors(errors, mapper) -%}
    <table class="table table-bordered table-condensed">
        {%- for column, errors in errors -%}
            <tr>
                <td><strong>{{ mapper.getLabel(column)|title }}</strong></td>
                <td>
                    <ul>
                        <li>{{ errors|join('</li><li>')|raw }}</li>
                    </ul>
                </td>
            </tr>
        {%- endfor -%}
    </table>
{%- endmacro -%}