{% trans_default_domain 'upload_data' %}
{% set is_ajax = app.request.isXmlHttpRequest() %}
{% extends config.getTemplate('layout') %}

{% block headline %}{{ 'title.show'|trans }}
    <small>{{ upload.filename }}</small>{% endblock %}

{% from '@UploadData/macros.html.twig' import bs_icon, bs_upload_status as status %}

{% block head_style %}
    {{ parent() }}
    <style>
        .popover { max-width: 600px }
    </style>
{% endblock %}

{% set show_detail = config.columnsMapper.labels > 6 %}

{% block page_content_attributes %}id="show-container"{% endblock %}

{% block content %}
    <div class="table-responsive">
        {{ include(config.getTemplate('show_table')) }}
    </div>

    {% block pagination %}
        {{ knp_pagination_render(pagination) }}
    {% endblock %}

{% endblock %}

{% block actions %}
    <div class="row">
        <div class="col-sm-4 col-sm-push-8 text-right">
            <a href="{{ path('upload_data_upload_list', {type: type}) }}"
               class="btn btn-default btn-sm ">{{ 'link.back_to_list'|trans }}</a>
        </div>
        <div class="col-sm-8 col-sm-pull-4">
            {{ include(config.getTemplate('show_small_info')) }}
        </div>
    </div>
{% endblock %}

{% block ajax_script %}
    <script>
        $('[data-toggle="popover"]').popover({
            html: true,
            placement: 'right',
            trigger: 'focus'
        });

        function showModal(html) {
            $("#show_item_modal").remove();
            $('body').append(html);
            $("#show_item_modal").modal();
        }

    </script>
{% endblock %}

{% block foot_script %}
    {{ parent() }}
    <script src="{{ asset('bundles/uploaddata/js/upload.js') }}"></script>
    {{ block('ajax_script') }}
    {% block script_upload_data_create %}
        <script>
            new UploadData({
                container: $('#show-container'),
                reload_container_selector: '#show-container',
                url_refresh: '{{ app.request.getRequestUri() }}'
            });
        </script>
    {% endblock script_upload_data_create %}
{% endblock %}