{% trans_default_domain 'upload_data' %}
{% set is_ajax = app.request.isXmlHttpRequest() %}
{% set modal_id = 'show_item_modal' %}
{% extends is_ajax ? config.getTemplate('ajax_modal') : config.getTemplate('layout') %}

{% block headline %}Show
    <small>#{{ item.upload.id }}-{{ item.upload.filename }}</small> Item #{{ item.id }}{% endblock %}

{#{% from _self import errors %}#}

{#{% block head_style %}#}
    {#{{ parent() }}#}
    {#<style>#}
        {#.popover { max-width: 600px }#}
    {#</style>#}
{#{% endblock %}#}

{% set extraName = constant('Manuel\\Bundle\\UploadDataBundle\\Data\\Reader\\ReaderInterface::EXTRA_FIELDS_NAME') %}

{% block content %}

    {% block before_table %}{% endblock %}

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>{{ 'table.column'|trans }}</th>
                <th>{{ 'table.value'|trans }}</th>
            </tr>
        </thead>
        {% for name, value in item.data if name != extraName %}
            <tr>
                <td><strong>{{ upload_config.columnsMapper.getLabel(name)|title }}</strong></td>
                <td>{{ value }}</td>
            </tr>
        {% endfor %}
    </table>
    {% if item.data[extraName] is defined and item.data[extraName] is iterable %}
        <hr>
        <h4 class="upload-item-extra-fields-toggle" style="cursor: pointer">Campos Adicionales</h4>
        <div class="upload-item-extra-fields" style="display: none">
            {#{{ dump(item.data) }}#}
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Columna</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                {% for name, value in item.data[extraName] %}
                    <tr>
                        <td><strong>{{ name }}</strong></td>
                        <td>{{ value }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}

    {% block after_table %}{% endblock %}

{% endblock %}

{% block ajax_script %}
    <script>
        $(".upload-item-extra-fields-toggle").on('click', function(e){
            e.preventDefault();
            $(".upload-item-extra-fields").slideToggle();
        });
    </script>
{% endblock %}