<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Upload Data{% endblock title %}</title>

    {% block head_style %}
        <link href="{{ asset('bundles/uploaddata/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" media="screen"/>
        <link href="{{ asset('bundles/uploaddata/css/jquery-ui.min.css') }}" type="text/css" rel="stylesheet" media="screen"/>
    {% endblock head_style %}

    {% block head_script %}
        <script src="{{ asset('bundles/uploaddata/js/jquery.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/uploaddata/js/bootstrap.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/uploaddata/js/jquery.ajax-helper.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/uploaddata/js/vendor/jquery.ui.widget.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/uploaddata/js/jquery.iframe-transport.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/uploaddata/js/jquery.fileupload.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/uploaddata/js/jquery-ui.min.js') }}" type="text/javascript"></script>
    {% endblock head_script %}

    {% block head_bottom %}
    {% endblock head_bottom %}
</head>

<body>
<div id="wrapper">
    {% block navbar %}
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            {#{{ include('@ERPCore/nav.html.twig') }}#}
            {% block menu %}{% endblock %}
        </nav>
    {% endblock navbar %}

    <div id="page-wrapper" class="{% block container_class %}container{% endblock container_class %}">
        {% block page_header %}
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{% block headline %}{% endblock headline %}</h1>
                </div>
            </div>
        {% endblock page_header %}

        {% block flashes %}
            {% if app.session.flashbag.peekAll|length > 0 %}
                <div class="">
                    <div class="col-sm-12">
                        {#{{ session_flash() }}#}
                    </div>
                </div>
            {% endif %}
        {% endblock flashes %}

        {% block before_content %}{% endblock %}

        {% block content_row %}
            <div class="">
                {% block content %}
                {% endblock content %}
            </div>
        {% endblock content_row %}

        {% block after_content %}{% endblock %}

        <footer>

            {% block footer %}
                <p>&copy; <a href="#" target="_blank">Manuel Aguirre</a> 2014 - {{ 'now'|date('Y') }}</p>
            {% endblock footer %}

        </footer>

    </div>

    {% block foot_script %}
        <script>
            $('body').ajaxHelper();
        </script>
    {% endblock foot_script %}

</div>
</body>
</html>
