{%- macro bs_icon(icon) -%}
    <i class="glyphicon glyphicon-{{ icon }}"></i>
{%- endmacro -%}

{%- macro bs_conditional_label(condition, label, icons = ['ok', 'remove'], options = ['success', 'default']) -%}
    {% import _self as this %}
    {% if condition %}
        <span class="label label-{{ options[0] }} ">
        {{ this.bs_icon(icons[0]) }} {{ label }}
    </span>
    {% else %}
        <span class="label label-{{ options[1] }} ">
        {{ this.bs_icon(icons[1]) }} {# {{ label }} #}
    </span>
    {% endif %}
{%- endmacro -%}

{%- macro bs_upload_status(upload, status, date, link = false, url = null) -%}
    {% import _self as this %}
    {# Cuando No esta en ese estatus #}
    {%- if status == constant('STATUS_NOT_COMPLETE', upload) -%}
        {%- if link and url -%}
            <a class="upload-process btn btn-warning btn-xs" href="{{ url }}">{{ this.bs_icon('remove') }}</a>
        {%- else -%}
            <span class="label label-default">{{ this.bs_icon('remove') }}</span>
        {%- endif -%}
    {%- elseif status == constant('STATUS_IN_PROGRESS', upload) -%}
        <span class="label label-info">{{ this.bs_icon('refresh') }} Processing...</span>
    {%- else -%}
        <span class="label label-success">{{ this.bs_icon('ok') }} {{ date|date('Y-m-d H:i:s') }}</span>
    {%- endif -%}
{%- endmacro -%}