{#

Variables requeridas:

upload
columns
file_headers

#}
<div data-upload-id="{{ match_info.upload.id }}">

    <div>
        {% block header %}{% endblock %}
    </div>

    {% block columns %}

        <div class="{{ container_class|default('row') }}">

            {% for name, options in match_info.configuredColumns %}

                {% block column %}

                    <div class="{{ col_size|default("col-sm-4") }}">

                        <div class="form-group">

                            {% block column_label %}
                                <label for="name">
                                    {{ options.label|title }}
                                    {% if options.required %}<span class="text-danger">*</span>{% endif %}
                                </label>
                            {% endblock column_label %}

                            {% block column_select %}
                                <select name="columns[{{ name }}]" class="form-control file-header" title="Select Column"
                                        {%- if options.required %} required="required" {% endif -%}>
                                    {%- if not options.required %}
                                        <option value="">{{ emptyOptionLabel|default('-----------') }}</option>
                                    {% endif %}
                                    {% for index, file_header in match_info.fileHeaders %}
                                        <option {% if match_info.matched(name, file_header) %}selected="selected"
                                                {% endif %}value="{{ index }}">
                                            {{- file_header|title -}}
                                        </option>
                                    {% endfor %}
                                </select>
                            {% endblock column_select %}

                        </div>

                    </div>

                {% endblock column %}

            {% endfor %}

        </div>

    {% endblock %}

    <div>
        {% block footer %}{% endblock %}
    </div>
</div>