{% trans_default_domain 'upload_data' %}
{% extends config.getTemplate('ajax_modal') %}
{% set modal_id = 'csv_form' %}

{% form_theme form
'@UploadData/Form/form_bootstrap_3.2.x_horizontal_layout.html.twig'
'@UploadData/Read/Excel/form_theme.html.twig'
%}

{% block headline %}{{ 'title.file_read'|trans }}{% endblock %}

{% block body %}
    {{ form_start(form, {attr: {'data-ajax': "##{modal_id} .modal-body-container" }}) }}
    <div class="modal-body">
        {% embed '@UploadData/panel.html.twig' with {config: config} %}
            {% trans_default_domain 'upload_data' %}
            {% block body %}{{ 'info.read_excel_options'|trans|raw }}{% endblock %}
        {% endembed %}
        {{ form_widget(form.attributes) }}
        <div id="preview-excel-headers"></div>
    </div>
    <div class="modal-footer">
        {{ form_widget(form.preview, { attr: {
        'data-ajax': '#preview-excel-headers',
        'data-url': path('upload_data_upload_read_excel_preview_headers', {id: upload.id}),
        'data-before': 'prepareExcelParams', }}) }}
        {{ form_widget(form.send) }}
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'link.close'|trans }}</button>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block ajax_script -%}
    {{ parent() }}
    <script>
        function prepareExcelParams($el, event, container, params) {
            params.row = $("#{{ form.attributes[0].value.vars.id }}").val();
        }
    </script>
{%- endblock ajax_script %}